In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns

Grc_df = pd.read_csv('Grocery_dataset.csv')

Grc_new_df = Grc_df.drop(Grc_df.columns[[0, 6]], axis=1)

SupType_1 = Grc_new_df[Grc_new_df['Outlet_Type'] == 'Supermarket Type1']
SupType_2 = Grc_new_df[Grc_new_df['Outlet_Type'] == 'Supermarket Type2']

Grc_Concat_df = pd.concat([SupType_1, SupType_2])

# Create a multi-index for Grc_Concat_df using 'Outlet_Size' and 'Outlet_Location_Type'
Grc_Concat_df_multiindex = Grc_Concat_df.set_index(['Outlet_Size', 'Outlet_Location_Type'])

# Display the DataFrame with the multi-index
Grc_Concat_df_multiindex.head(10)

                                  Item_Weight Item_Fat_Content  \
Outlet_Size Outlet_Location_Type
Medium      Tier 1                       9.30          Low Fat
            Tier 1                      17.50          Low Fat
High        Tier 3                       8.93          Low Fat
            Tier 3                      13.65          Regular
NaN         Tier 2                      16.20          Regular
            Tier 2                      19.20          Regular
Medium      Tier 1                      11.80          Low Fat
Small       Tier 1                      18.50          Regular
Medium      Tier 1                      15.10          Regular
Small       Tier 1                      17.60          Regular

                                  Item_Visibility              Item_Type  \
Outlet_Size Outlet_Location_Type
Medium      Tier 1                       0.016047                  Dairy
            Tier 1                       0.016760                   Meat
High        Tier 3                       0.000000              Household
            Tier 3                       0.012741            Snack Foods
NaN         Tier 2                       0.016687           Frozen Foods
            Tier 2                       0.094450           Frozen Foods
Medium      Tier 1                       0.000000  Fruits and Vegetables
Small       Tier 1                       0.045464                  Dairy
Medium      Tier 1                       0.100014  Fruits and Vegetables
Small       Tier 1                       0.047257            Snack Foods

                                  Item_MRP  Outlet_Establishment_Year  \
Outlet_Size Outlet_Location_Type
Medium      Tier 1                249.8092                       1999
            Tier 1                141.6180                       1999
High        Tier 3                 53.8614                       1987
            Tier 3                 57.6588                       1987
NaN         Tier 2                 96.9726                       2002
            Tier 2                187.8214                       2007
Medium      Tier 1                 45.5402                       1999
Small       Tier 1                144.1102                       1997
Medium      Tier 1                145.4786                       1999
Small       Tier 1                119.6782                       1997

                                        Outlet_Type  Item_Outlet_Sales
Outlet_Size Outlet_Location_Type
Medium      Tier 1                Supermarket Type1          3735.1380
            Tier 1                Supermarket Type1          2097.2700
High        Tier 3                Supermarket Type1           994.7052
            Tier 3                Supermarket Type1           343.5528
NaN         Tier 2                Supermarket Type1          1076.5986
            Tier 2                Supermarket Type1          4710.5350
Medium      Tier 1                Supermarket Type1          1516.0266
Small       Tier 1                Supermarket Type1          2187.1530
Medium      Tier 1                Supermarket Type1          1589.2646
Small       Tier 1                Supermarket Type1          2145.2076