In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [22]:

Grc_df = pd.read_csv('Grocery_dataset.csv')

Grc_df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [23]:

Grc_new_df = Grc_df.drop(Grc_df.columns[[0, 6]], axis=1)


Grc_new_df.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.30,Low Fat,0.016047,Dairy,249.8092,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,5.92,Regular,0.019278,Soft Drinks,48.2692,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,17.50,Low Fat,0.016760,Meat,141.6180,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,1998,NaN,Tier 3,Grocery Store,732.3800
4,8.93,Low Fat,0.000000,Household,53.8614,1987,High,Tier 3,Supermarket Type1,994.7052

In [24]:

print(Grc_new_df['Outlet_Type'].unique())

['Supermarket Type1' 'Supermarket Type2' 'Grocery Store'
 'Supermarket Type3']

In [25]:


SupType_1 = Grc_new_df[Grc_new_df['Outlet_Type'] == 'Supermarket Type1']
SupType_2 = Grc_new_df[Grc_new_df['Outlet_Type'] == 'Supermarket Type2']



print("SupType_1 DataFrame:")
print(SupType_1.head())

print("SupType_2 DataFrame:")
print(SupType_2.head())

SupType_1 DataFrame:
   Item_Weight Item_Fat_Content  Item_Visibility     Item_Type  Item_MRP  \
0         9.30          Low Fat         0.016047         Dairy  249.8092
2        17.50          Low Fat         0.016760          Meat  141.6180
4         8.93          Low Fat         0.000000     Household   53.8614
6        13.65          Regular         0.012741   Snack Foods   57.6588
8        16.20          Regular         0.016687  Frozen Foods   96.9726

   Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                       1999      Medium               Tier 1
2                       1999      Medium               Tier 1
4                       1987        High               Tier 3
6                       1987        High               Tier 3
8                       2002         NaN               Tier 2

         Outlet_Type  Item_Outlet_Sales
0  Supermarket Type1          3735.1380
2  Supermarket Type1          2097.2700
4  Supermarket Type1           994.7052
6  Supermarket Type1           343.5528
8  Supermarket Type1          1076.5986
SupType_2 DataFrame:
    Item_Weight Item_Fat_Content  Item_Visibility           Item_Type  \
1         5.920          Regular         0.019278         Soft Drinks
5        10.395          Regular         0.000000        Baking Goods
16       11.800          Low Fat         0.008596  Health and Hygiene
31       18.600          Low Fat         0.080829  Health and Hygiene
32       18.700          Low Fat         0.000000         Snack Foods

    Item_MRP  Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
1    48.2692                       2009      Medium               Tier 3
5    51.4008                       2009      Medium               Tier 3
16  115.3492                       2009      Medium               Tier 3
31   96.4436                       2009      Medium               Tier 3
32  256.6672                       2009      Medium               Tier 3

          Outlet_Type  Item_Outlet_Sales
1   Supermarket Type2           443.4228
5   Supermarket Type2           556.6088
16  Supermarket Type2          1621.8888
31  Supermarket Type2          2741.7644
32  Supermarket Type2          3068.0064